.icon-e{
	color: #4A90E2;
}

.icon-eye-open{
	color: #F5A623;
}

.icon-eye-close{
	color: #4EC195;
}

.icon-excel{
	color: #006E41;
}

.icon-more{
	color: #777;
}

.icon-right{
	color: #7ED321;
}

.icon-product{
	color: #ccc;
}

.icon-close-mini{
	color: #ccc;
}

.icon-in{
	color: $danger;
}

.icon-out{
	color: $success;
}

//.icon-tabledata-empty{
//	&:after{
//		background: url(./assets/images/tabledata-empty.png);
//	}
//}

//.icon-to-top {
//  background: url(./assets/images/category/to-top.svg) no-repeat;
//}
//
//.icon-category-edit {
//  background: url(./assets/images/category/edit-name.svg) no-repeat;
//}
//
//.icon-delete-category {
//  background: url(./assets/images/category/delete-category.svg) no-repeat;
//}

.icon-huankuanmingxi{
	color: #68AEFF;
}
.icon-report{
	color: #EFB14C;
}

//.icon-order-stash{
//  content: url('./assets/images/order-stash/order-stash.png');
//}
