//* {
//  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
//  word-wrap: break-word;
//  table-layout: fixed;
//  word-break: break-word;
//  box-sizing: border-box;
//  margin: 0px;
//  /*padding: 0px;*/
//}
/* 导航栏 start */

.tuoniao-hot-content {
  display: inline-block;
  height: 38px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tuoniao-hot-news {
  padding: 10px 0 0 9px !important;
}

.tuoniao-enterprise li {
  margin-left: 12px;
}

.tuoniao-home-ad {
  margin-left: 2px !important;
  width: 278px !important;
}

.page-component_srcoll {
  max-height: 100px;
  overflow-y: scroll;
}

.tuoniao-a {
  display: inline-block;
}

.el-menu--popup-bottom-start {
  padding-left: 7px !important;
  min-width: 100px !important;
}

.tuoniao-ency-img {
  width: 22px;
  height: 21px;
  background: #FF4040;
  border-radius: 25%;
  display: inline-block;
}

.tuoniao-ency {
  margin-left: 24px;
  height: 40px;
  border-bottom: 1px solid #E3E3E3;
  top: 16px;
  position: relative;
}

/* end */

.con ul li {
  list-style: none;
}

.con ul {
  padding: 0px;
}

.con ul ol {
  padding: 0px;
}

a {
  color: #666;
  outline: none !important;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margint-20 {
  margin-top: 20px;
}

.marginb-30 {
  margin-bottom: 30px;
}

.navbar-margin-left {
  margin-left: 50px;
}

.navbar-margin-left li a {
  padding-left: 25px;
  padding-right: 25px;
}

.fontw {
  font-weight: bold;
}

.font16 {
  font-size: 16px;
}

.font12 {
  font-size: 12px;
}

.font24 {
  font-size: 24px;
}

.line22 {
  line-height: 22px;
}

.line36 {
  line-height: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.padding-15 {
  padding: 15px;
}

.padding {
  padding: 25px;
}

.bgc {
  background: #fff;
  margin-top: -27px;
}

.center {
  text-align: center;
}

.gray8 {
  color: #888;
}

.site-header {
  position: relative;
  text-align: center;
  background-color: #238FE2;
  color: #fff;
  margin-bottom: 0;
}

.news-flash ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #238FE2;
}

.news-flash ul::-webkit-scrollbar-track {
  background-color: #FFF;
}

.news-flash-right {
  width: 320px;
}

ul li {
  list-style: none;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

/*头条*/

.content-left_search {
  width: 1100px;
}

.content-left {
  width: 800px;
}

.content-right {
  width: 320px;
}

.news-list-content .tit li {
  display: block;
  float: left;
  color: #888;
  cursor: pointer;
  font-size: 18px;
}

.news-list-content .tit .current {
  font-weight: bold;
  color: #222;
}

.news-list-content .tit span {
  width: 10px;
  height: 10px;
  border-radius: 2.5px;
  background: #F7F8FA;
  margin-right: 6px;
  display: inline-block;
}

.news-list-content .tit .current span {
  background: #238FE2;
}

.news-list-left {
  padding: 0px 15px;
  background-color: #fff;
  margin-top: -10px;
}

.news {
  margin-bottom: 20px;
  background: #EAEAEA;
}

.content-header {
  border-bottom: 2px solid #238FE2;
  padding-bottom: 10px;
}

.content-header h2 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.news-list-content .news-list .list-content {
  border-top: 1px solid #E3E3E3;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}

.media .media-left {
  width: 250px;
}

.media .media-body {
  width: 70%;
}

.media:first-child {
  margin-top: 0;
}

.news-list-img img {
  height: 150px;
  width: 100%;
}

.news-list .media .media-body {
  padding-left: 20px;
}

h4.media-heading {
  text-overflow: ellipsis;
  overflow: hidden;
}

h4.media-heading a {
  color: #333;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 15px;
}

.ranking .tit,
.hotnews .tit {
  color: #3d464d;
  margin: 0 auto 1rem;
  padding: 21px 0;
  background: #FFF;
  /*text-align: center;*/
  /*left: 15px;*/
  font-weight: bold;
  /*border-top: 2px solid #238FE2;*/
  /*border-bottom: 1px dashed #e6e8eb;*/
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 28px;
  position: relative;
  line-height: 0.4;
}

.media-introduce {
  max-height: 70px !important;
  text-overflow: ellipsis;
  /*overflow: hidden;*/
  margin-bottom: 30px;
}

/*新闻排行*/

/*热门新闻*/

.hotnews {
  clear: both;
}

.hotnews .con {
  clear: both;
}

.hotnews .con img {
  width: 130px;
  height: 72px;
}

.hotnews .con ol {
  width: 170px;
  height: 72px;
  position: relative;
}

.ranking .con ul+ul {
  padding-top: 10px;
  border-top: 1px dashed #e6e8eb;
  margin-top: 5px;
}

.hotnews .con ul+ul {
  padding-top: 20px;
  border-top: 1px dashed #e6e8eb;
  margin-top: 20px;
}

.footnotes .left,
.footnotes .left a {
  font-size: 12px;
  margin-left: 10px;
}

.headline-lables {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 23px;
}

.headline-lables button {
  padding: 9px 14px !important;
  margin-top: 10px;
}

.tuoniao-see {
  margin-left: 12px;
}

.tuoniao-hot-news a {
  display: inline-block;
  position: relative;
  z-index: 100;
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}
