@import "../../assets/scss/base/config";

.userContainer {
  height: 100%;
  .mu-paper {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: all .45s cubic-bezier(.23, 1, .32, 1);
    transition: all .45s cubic-bezier(.23, 1, .32, 1);
    color: rgba(0, 0, 0, .87);
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
  }
  .login_wrap {
    width: 460px;
    height: 443px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 8px;
    padding-bottom: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .login {
      text-align: center;
    }
  }
  .mu-paper-round {
  }
  .mu-paper-3 {
    box-shadow: 0 6px 20px 5px rgba(40, 120, 255, 0.1), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
  }
}

.login-head {
  height: 50px;
  line-height: 50px;
  .login-title {
    margin-left: 24px;
    color: #1E252F;
    font-size: 16px;
    float: left;
  }
  .if-registered {
    margin-right: 24px;
    color: #A7A7A7;
    font-size: 14px;
    float: right;
    .go-to-register {
      color: #349DFF;
      cursor: pointer;
    }
  }
}

.login_center {
  width: 384px;
  margin: 32px auto;
  .login-in {
    width: 100%;
  }
}

.el-form-item {
  margin-bottom: 30px;
}

.forget {
  color: $text-dark-gray;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
}

.wx_login {
  margin-top: 48px;
  border-top: 1px solid #F0F0F0;
  .wx_btn {
    width: 120px;
    position: relative;
    top: -12px;
    left: 50%;
    margin-left: -60px;
    background-color: rgba(255, 255, 255, 1);
  }
  .wechat-login {
    cursor: pointer;
  }
}