.ostrich-flash-box {
  width: 1200px;
  margin: 20px auto;
  .content-left {
    width: 820px;
    .news-list-left {
      padding: 30px 25px;
      .time-vertical {
        list-style-type: none;
        border-left: 1px solid #F0F0F0;
        padding: 0px;
        position: relative;
        .timer::before {
          content: " ";
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          position: absolute;
          left: -6px;
          top: 0px;
          z-index: 99;
          background: #238FE2;
        }
        .flag-timeline {
          .point {
            position: absolute;
            top: -3px;
          }
          .article-box {
            position: relative;
            top: -3px;
            width: 655px;
            .timeline-content {
              //display: block;
              font-size: 14px;
              color: #1E252F;
              //letter-spacing: 0;
              //text-align: justify;
            }
            .ml-7 {
              margin-left: 7px;
            }
            .clearfix.mt-20.pb-20 {
              border-bottom: 1px solid #F0F0F0;
            }
          }
        }
        .portrait-box {
          margin-top: 4px;
          width: 32px;
          height: 32px;
          border-radius: 32px;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .sent-comments {
          width: 600px;
          .btn-box {
            margin-top: 12px;
            height: 32px;
            line-height: 32px;
            .info {
              color: #A7A7A7;
              font-size: 12px;
            }
          }

        }
        .comment-title {
          margin-top: 32px;
          margin-bottom: 20px;
          line-height: 22px;
          .comment-num {
            color: #1E252F;
            font-size: 16px;
          }
          .look-more {
            font-size: 12px;
            color: #349DFF;
            cursor: pointer;
          }
        }
        .release-info {
          line-height: 32px;
          .pl-48 {
            padding-left: 48px;
            margin-top: 1px;
            color: #666666;
            line-height: 17px;
          }
        }
      }
    }
  }
  .loading-more {
    text-align: center;
    margin-top: 40px;
    button {
      width: 180px;
      height: 40px;
      border-color: #349DFF;
      color: #349DFF;
    }
  }
  .content-right {
    width: 352px;
    .exchange-info {
      div {
        padding: 16px 24px;
        line-height: 20px;
        .title {
          color: #1E252F;
          font-size: 14px;
          font-weight: bold;
        }
        .time {
          color: #1E252F;
          font-size: 12px;
        }
        &:hover {
          background: #F5F5F5;
          cursor: pointer;
        }
      }
    }
  }
}

.tuoniao-hot-content {
  display: inline-flex;
  height: 45px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    width: 150px;
    min-height: 45px;
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-family: PingFang-SC-Medium;
    color: rgba(30, 37, 47, 1);
  }
}

.center {
  text-align: center;
}

.tuoniao-enterprise li {
  margin-left: 12px;
}

.tuoniao-home-ad {
  margin-left: 2px !important;
  width: 278px !important;
}

.page-component_srcoll {
  max-height: 100px;
  overflow-y: scroll;
}

.el-col-push-6 {
  left: 20%;
}

/* end */

.con ul li {
  list-style: none;
}

.con ul {
  padding: 0px;
}

.con ul ol {
  padding: 0px;
}

a {
  color: #666;
  outline: none !important;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margint-20 {
  margin-top: 4px;
}

.marginb-30 {
  margin-bottom: 24px;
}

.fontw {
  font-weight: bold;
}

.font16 {
  font-size: 16px;
}

.font12 {
  font-size: 12px;
}

.font24 {
  font-size: 24px;
}

.line22 {
  line-height: 22px;
}

.line36 {
  line-height: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bgc {
  background: #fff;
  margin-top: -27px;
}

/*news-flash*/

.news-flash ul {
  position: relative;
  display: block;
  max-height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.news-flash ul li {
  padding: 27px 15px;
  /*border-left: 1px solid #f1f1f1;*/
  position: relative;
  display: block;
  margin-left: 3px;
}

.news-flash ul li .time {
  color: #8a8888;
  display: block;
  height: 30px;
}

.news-flash ul li a {
  color: #238FE2;
}

.news-flash ul li img {
  max-width: 100%;
  height: auto;
  /*display: block;*/
  cursor: pointer;
}

.news-flash ul li:hover .time {
  color: #238FE2;
}

.news-flash ul li:before {
  content: " ";
  display: block;
  background: #f1f1f1;
  border-radius: 100%;
  position: absolute;
  left: -4px;
  top: 17px;
  z-index: 99;
}

.news-flash ul li:hover::before {
  content: " ";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  position: absolute;
  left: -4px;
  top: 17px;
  z-index: 99;
  background: #238FE2;
}

.news-flash ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #238FE2;
}

.news-flash ul::-webkit-scrollbar-track {
  background-color: #FFF;
}

.news-flash-right {
  width: 320px;
}

a {
  color: #30333C;
  text-decoration: none;
  transition: .2s;
}

ul li {
  list-style: none;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.content-header {
  border-bottom: 2px solid #238FE2;
  padding-bottom: 10px;
}

.ranking .tit,
.hotnews .tit {
  color: #3d464d;
  margin: 0 auto 1rem;
  padding: 21px 0;
  background: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 28px;
  position: relative;
  line-height: 0.4;
}

/*热门新闻*/

.hotnews {
  clear: both;
}

.hotnews .con {
  clear: both;
}

.hotnews .con img {
  width: 130px;
  height: 72px;
}

.hotnews .con ol {
  width: 130px;
  height: 72px;
  position: relative;
}

.hotnews .con li {
  bottom: -4px;
  left: 0;
}

.ranking .con ul + ul {
  padding-top: 10px;
  border-top: 1px dashed #e6e8eb;
  margin-top: 5px;
}

.hotnews .con ul + ul {
  padding-top: 20px;
  border-top: 1px dashed #e6e8eb;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footnotes .left,
.footnotes .left a {
  font-size: 12px;
  margin-left: 10px;
}

.notice {
  padding-top: 6px;
  padding-left: 10px;
  border-bottom: 1px solid #F0F0F0;
  height: 50px;
  margin: 10px 0 0 0 !important;
}

.notice_01 {
  padding-left: 22px;
}

.notice_01 div {
  font-family: PingFang-SC-Medium;
  font-size: 14px;
  color: #1E252F;
  letter-spacing: 0;
}

.notice_o2 {
  padding-right: 20px !important;
}

.notice_o2 div {
  font-family: PingFang-SC-Regular;
  font-size: 12px;
  color: #1E252F;
  letter-spacing: 0;
  text-align: right;
}

li {
  list-style: none;
}

/*纵向时间轴*/

.timer {
  max-height: 800px;
}

.time-vertical li a {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
  text-decoration: none;
  color: #000;
}

.time-vertical li b:before {
  content: '';
  position: absolute;
  /* top: 15px; */
  left: -7px;
  width: 12px;
  height: 12px;
  border: 2px solid #C6C6D1;
  border-radius: 10px;
  background: #C6C6D1;
}

.time-vertical li span {
  top: 18px;
  left: -6px;
}

.timeline p {
  margin-left: 114px;
  margin-top: -21px;
  font-family: PingFang-SC-Medium;
  font-size: 16px;
  color: #1E252F;
  letter-spacing: 0;
  text-align: justify;
  width: 655px;
}

.timeline-right span:nth-last-child(2) {
  margin-right: 15px;
}

.fd {
  display: block;
  width: 0;
  height: 0;
  border-width: 0 28px 28px;
  border-style: solid;
  border-color: transparent transparent #fc0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.timeline-segmenttation {
  position: relative;
  width: 85%;
  height: 1px;
  margin-top: 80px;
  border-bottom: 1px solid #F0F0F0;
  text-align: center;
  margin-left: auto;
}

.timeline-all {
  margin-left: 75px;
  margin-top: 30px;
}

.timeline-right {
  margin-top: -20px;
  margin-left: 635px;
  span {
    font-size: 12px;
    font-family: PingFang-SC-Regular;
    color: rgba(30, 37, 47, 1);
  }
}

.timeline-left {
  margin-left: 114px;
  margin-top: 30px;
}

.segmenttation {
  position: relative;
  margin-top: 20px;
  background: #F0F0F0;
  height: 1px;
  width: 86%;
  left: 97px;
}

.triangle {
  width: 0;
  height: 0;
  border-width: 0 9px 14px;
  border-style: solid;
  border-color: transparent transparent #F0F0F0;
  position: relative;
  top: 26px !important;
  left: 602px !important;
  z-index: 10;
  display: block !important;
}

.triangle-01 {
  width: 0;
  height: 0;
  border-width: 0 8px 13px;
  border-style: solid;
  border-color: transparent transparent #FFF;
  margin: -7px 0 0 -11px;
  position: relative;
  top: 21px !important;
  left: 614px !important;
  z-index: 11;
  display: block !important;
}

.timeline-lx {
  margin-left: 90px !important;
  margin-top: 20px;
}

.robot {
  width: 5.16667%;
  text-align: center;
  margin-top: 4px;
}

.robot div {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.el-input__inner {
  border-radius: 0;
}

.timeline-signature {
  margin-left: 155px !important;
  margin-top: 25px;
  font-family: PingFang-SC-Regular;
  font-size: 12px;
  color: #A7A7A7;
  letter-spacing: 0;
}

.bg-purple input {
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #A7A7A7;
  letter-spacing: 0;
  width: 566px;
}

.bg-purple button {
  margin-left: 42px;
  width: 100px;
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #349DFF;
  letter-spacing: 0;
  text-align: justify;
  border: 1px solid #349DFF;
  border-radius: 0;
}

.timeline-comment {
  margin-top: -10px !important;
  left: 8.06667% !important;
}

.timeline-comment button span {
  display: block;
  line-height: 9px;
  text-align: center;
}

.timeline-allcomment {
  margin: 30px 0 0 101px !important;
}

.bg-purple a {
  margin: 0 0 0 0 !important;
}

.timeline-more {
  // margin-left: 460px;
  width: 100px;
}

.timeline-more a {
  font-family: PingFang-SC-Regular;
  font-size: 12px;
  color: #349DFF !important;
  letter-spacing: 0;
  text-align: justify;
}

.timeline-comment-01 {
  padding: 0 !important;
  font-family: PingFang-SC-Medium;
  font-size: 16px;
  color: #1E252F;
  letter-spacing: 0;
  width: 20%;
}

.robot-01 {
  max-width: 12% !important;
  padding: 0 !important;
  margin-left: 30px;
}

.robot-01-time,
.robot-01 {
  margin-top: 6px;
}

.robot-01 div {
  font-family: PingFang-SC-Medium;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: justify;
}

.robot-01-time div {
  font-family: PingFang-SC-Medium;
  font-size: 12px;
  color: #9B9B9B;
  letter-spacing: 0;
  text-align: justify;
  margin-top: 2px;
}

.robot-o1-content {
  position: relative;
  left: 148px;
}

.robot-o1-content-lx {
  width: 597px !important;
}

.robot-o1-content-lx div {
  font-family: PingFang-SC-Regular;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  text-align: justify;
}

.robot-o1-cut {
  margin-left: 112px;
  margin-top: 25px;
}

.robot-o1-cut div div {
  height: 1px;
  background: #F0F0F0;
}

.comment-lx {
  display: block !important;
}

.el-col-13 {
  width: 93%;
}

.flash-input {
  padding: 3px 10px 0 30px !important;
}

.falsh-comment {
  padding: 0 !important;
}

.el-col-15 {
  width: 63.5%;
}

.view-more {
  position: relative;
  left: 455px;
}

.el-col-23 {
  width: 97%;
}

.comment-cli img {
  position: relative;
  top: 4px;
  right: 5px;
}

.flash-share {
  position: relative;
  top: 4px;
  right: 4px;
}

.generate-share-image {
  font-size: 12px;
  font-family: PingFang-SC-Regular;
  color: rgba(155, 155, 155, 1);
  left: 7px;
  top: -1px;
}

.newsTraffic {
  position: relative;
  top: -6px;
}
