.tuoniao-share {
  margin-left: 6%;
  position: relative;
  left: 13px;
}

.con ul li {
  list-style: none;
}

.con ul {
  padding: 0px;
}

.con ul ol {
  padding: 0px;
}

a:link {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margint-20 {
  margin-top: 20px;
}

.marginb-30 {
  margin-bottom: 30px;
}

.line22 {
  line-height: 22px;
}

.line36 {
  line-height: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bgc {
  background: #fff;
  margin-top: -27px;
}

.center {
  text-align: center;
}

.gray8 {
  color: #888;
}

.news-flash ul {
  position: relative;
  display: block;
  max-height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.news-flash ul li {
  padding: 27px 15px;
  position: relative;
  display: block;
  margin-left: 3px;
}

.news-flash-right {
  width: 320px;
}

ul li {
  list-style: none;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/*头条*/

.content-left_search {
  width: 1100px;
}

.content-left {
  width: 800px;
}

.news-list-left {
  padding: 0px 15px;
  background-color: #fff;
  margin-top: -10px;
}


.ranking .tit,
.hotnews .tit {
  color: #3d464d;
  margin: 0 auto 1rem;
  padding: 21px 0;
  background: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 28px;
  position: relative;
  line-height: 0.4;
}

.media-introduce {
  max-height: 70px !important;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

li {
  list-style: none;
}

.details-lf {
  margin-left: 20px;
  left: 290px;
  position: relative;
}

.details-headline {
  margin: 1.2% 2.1% 10px 2.1%;
  font-family: PingFang-SC-Medium;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0;
  text-align: justify;
}

.generate-share-image {
  margin-left: 5px;
}

.details-content {
  background: rgb(234, 234, 234);
  width: 720px;
  max-height: 300px;
  margin: 30px 2.1% 10px 2.1%;
  position: relative;
  padding: 10px 15px 10px 20px;
  font-family: PingFang-SC-Regular;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 22px;
}

.details-content-break {
  width: 93%;
  height: 1px;
  background: rgb(234, 234, 234);
  margin: 25px auto;
}

.details-content-p {
  margin: 30px 2.1% 10px 2.1%;
  font-family: PingFang-SC-Regular;
  font-size: 16px;
  color: #1E252F;
  letter-spacing: 0;
}

.details-content-border-01 {
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  margin: 2% 1% 2% 1%;
}

.details-content-button {
  margin-top: 3.2%;
}

.details-content-button button {
  padding: 10px 26px 10px 20px !important;
}

.details-content-button a {
  margin-left: 12px;
}

.details-content-button-01 {
  padding: 10px 15px 10px 20px;
  text-align: center;
  padding-top: 33px;
}

.details-content-button-01 button {
  width: 20%;
  background: #349DFF;
  border-radius: 2px;
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.details-content-02 strong {
  font-family: PingFang-SC-Medium;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: justify;
}

.details-content-02 {
  margin: 20px 0 0 2.1%;
}

.el-textarea {
  margin-top: 20px;
}

.datails-content-02-span {
  margin-top: 10px;
  display: inline-block;
}

.content-span-left a {
  color: #349DFF;
}

.content-span-left {
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #160000;
  letter-spacing: 0;
  line-height: 20px;
}

.content-span-right {
  margin-left: 490px;
  border: 1px solid #349DFF;
}

.content-span-right button {
  border-radius: 0;
  background: #FFF;
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #349DFF;
  letter-spacing: 0;
  text-align: justify;
}

.datails-comment {
  margin-top: 30px;
  margin-left: 2.1%;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 22px;
}

.datails-comment .comment-left {
  padding-top: 20px;
}

.datails-comment .comment-left img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.datails-comment .comment-body {
  padding-top: 20px;
}

.datails-comment .comment-body p {
  margin-top: 5px;
  font-family: PingFang-SC-Medium;
  font-size: 14px;
  color: #1E252F;
  letter-spacing: 0;
  text-align: justify;
}

.datails-comment .comment-body .comment-span {
  margin-left: 530px;
}

.datails-comment .comment-body span {
  font-family: PingFang-SC-Medium;
  font-size: 12px;
  color: #9B9B9B;
  letter-spacing: 0;
  text-align: justify;
}

.datails-comment .comment-body .comment-span img {
  margin-top: -4px;
}

.details-a {
  font-family: PingFang-SC-Regular;
  font-size: 16px;
  color: #349DFF;
  letter-spacing: 0;
  text-align: justify;
  text-align: center;
  display: inherit;
  margin-top: 20px;
}

.details-ul li {
  display: inline-block;
  margin-left: 7px;
  margin-top: 15px;
}

.details-news {
  margin-top: 30px;
}

.details-news strong {
  margin: 20px 0 0 2.1%;
}

.details-news ul li img {
  width: 232px !important;
  height: 174px;
}

.details-ul li span a {
  color: #fff;
  padding: 6px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.details-ul li span {
  display: block;
  position: absolute;
  margin-top: -33px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  width: 232px;
  height: 33px;
  padding-top: 6px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0, 0, 0, .7);
}

.user-message {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.timeline p {
  margin-left: 114px;
  margin-top: -21px;
  font-family: PingFang-SC-Medium;
  font-size: 16px;
  color: #1E252F;
  letter-spacing: 0;
  text-align: justify;
  width: 620px;
}

.timeline-content {
  margin-left: 114px;
  width: 620px;
  display: block;
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #1E252F;
  letter-spacing: 0;
  text-align: justify;
}

.timeline-left span:nth-last-child(1) {
  margin-left: 15px;
}

.timeline-right span:nth-last-child(2) {
  margin-right: 15px;
}

.timeline-all {
  margin-left: 75px;
  margin-top: 30px;
}

.timeline-right {
  margin-top: -20px;
  margin-left: 573px;
}

.timeline-left {
  margin-left: 114px;
  margin-top: 30px;
}


.express-details {
  display: contents !important;
}

.details-express {
  margin: 40px 40px 10px 40px;
  font-family: PingFang-SC-Medium;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0;
  text-align: justify;
}

.details-express-content {
  width: 770px;
  max-height: 500px;
  margin-top: 20px;
  position: relative;
  padding: 10px 15px 10px 20px;
}

.details-express-content span {
  font-family: PingFang-SC-Regular;
  font-size: 16px;
  color: #1E252F;
  letter-spacing: 0;
  text-align: justify;
}

.express-left {
  margin-left: 17px;
  margin-top: 30px;
}


@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}
