.ranking .tit,
.hotnews .tit {
  color: #3d464d;
  padding: 16px 0;
  background: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  line-height: 0.4;
}
.marginb-30 {
    margin-bottom: 30px;
  }
  .news24 {
    padding-left: 24px !important;
    font-size: 16px;
    font-family: PingFangSC-Semibold;
    color: rgba(30, 37, 47, 1);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    img {
      position: relative;
      top: 2px;
    }
    span {
      left: 7px;
      position: relative;
    }
  }
  .con ul li {
    list-style: none;
  }
  
  .con ul {
    padding: 0px;
  }
  
  .con ul ol {
    padding: 0px;
  }
  .hotnews .con {
    clear: both;
  }
  .hotnews .con img {
    width: 120px;
    height: 72px;
  }
  
  .hotnews .con ol {
    width: 140px;
    height: 72px;
    position: relative;
  }
  
  .ranking .con ul+ul {
    padding-top: 10px;
    border-top: 1px solid #e6e8eb;
    margin-top: 5px;
  }
  
  .hotnews .con ul+ul {
    padding-top: 20px;
    border-top: 1px solid #e6e8eb;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bgc {
    background: #fff;
  }
  .line22 {
    line-height: 22px;
  }
  .clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.tuoniao-enterprise li {
    li:nth-child(2) {
      padding-left: 24px;
    }
  }
  
  .tuoniao-enterprise {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .left {
    float: left;
  }
  .column-li-01 {
    padding-left: 24px;
  }
  
.column-li-02 {
    margin-left: 7px;
    font-size: 16px;
    font-family: PingFang-SC-Medium;
    color: rgba(30, 37, 47, 1);
    line-height: 22px;
  }
  
  .column-li-03 {
    margin-left: 12px;
    font-size: 12px;
    font-family: PingFang-SC-Regular;
    color: rgba(180, 180, 180, 1);
  }
  .li-content {
    left: 10px;
    top: 10px;
    position: relative;
    a {
      width: 230px;
      display: -webkit-box !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      padding-right: 20px;
      position: relative;
      line-height: 20px;
      max-height: 40px;
      overflow: hidden;
      font-size:14px;
      font-family:PingFang-SC-Regular;
      color:rgba(30,37,47,1);
    }
  }
  a {
      text-decoration: none;
  }