/* 常用颜色*/
$orange: #ff6a3c; /* 橙色*/
$themeColor: #FF6A3C; /*橙色*/
$subColor: #314052; /*石墨色*/
$default: #ffffff; /*白色*/
$primary: #3894FF; /*蓝色*/
$success: #3AC059; /*绿色*/
$danger: #FF4949; /*红色*/
$warning: #e3ab29; /*黄色*/
$transparent: transparent; /*透明*/

/* 文字颜色*/
$text: #333;
$text-dark: #595959;
$text-light: #A6A6A6;
$text-disabled: #BFBFBF;
$text-white: #ffffff;
$text-gray: #999999;
$text-dark-gray: #666666;

/* 边框颜色*/
$border: #ddd;
$border-gray: #ccc;
$border-dark: #c9c9c9;
$border-light: #e0e0e0;
$border-info: #c7ddf7;
$main-color: #ff6a3c;
$main-color-light: RGBA(255, 210, 196, 0.3);
$assist-color: #3f91e4;
/*背景色*/
$bg-gray-e: #eee;
$bg-info: #e6f1ff;
$bg-gray: #fbfbfb;
$bg-light-gray: #f5f5f5;
$bg-gray-f: #f1f1f1;
/*表格颜色*/
$defaultTh: #ecf3fc;

/*屏幕最小宽度（左侧有导航，右侧有滚动）*/
$screen-min-width: 1019px;