@import "./config";

.capsule {
  display: inline-block;
  margin-top: 20px;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #999EA5;
  text-align: center;
  color: #4D545E;
  &.active{
    color: $text-white;
    background-color: #349DFF;
    border: 1px solid #349DFF;
  }
}

.capsule + .capsule {
  margin-left: 7px;
}