// 最小宽度1024
$middlePC-media: 1280px;
$smallPC-media: 960px;
$pad-media: 760px;
$phone-media: 480px;
@import '../media-query/media-query';

@media (max-width: $middlePC-media) {
  @include table--md()
}

@media (max-width: $smallPC-media) {
}

@media (max-width: $pad-media) {
}

@media (max-width: $phone-media) {
}
