@import "../../assets/common/common.scss";

.my-container{
	width:1200px;
	margin:0 auto;
	margin-top: 20px;
	.cleftBox{
		background-color: #fff;
		width:320px;
		border:1px solid rgba(240,240,240,1);

	}
	.cRightBox{
		background-color: #fff;
		width:852px;
		border:1px solid rgba(240,240,240,1);
	}
	.navBase{
		font-size:16px;
		font-family:PingFangSC-Regular;
		color:rgba(30,37,47,1);
		line-height:22px;
		width:100%;
		padding:16px 0;
		border-bottom:1px solid rgba(240,240,240,1);
		text-align:center;
		display:block;
	}
	.router-link-active{
		color:#349DFF;
	}
	.headImg{
		width:100px;
		height:100px;
		background:rgba(52,157,255,1);
		margin:0 auto;
		margin-bottom:24px;
		margin-top:40px;
	}
	.title{
		font-size:18px;
		font-family:PingFangSC-Medium;
		color:rgba(0,0,0,1);
		line-height:25px;
		margin:0 auto;
		margin-bottom: 34px;
	}
	.denglubtn{
		padding:50px 0;
		.el-button{
			width:272px;
			height:42px;
			
			background:rgba(52,157,255,1);
		}
		span{
			border-radius:2px;
			font-size:16px;
			font-family:PingFangSC-Medium;
			color:rgba(255,255,255,1);
		}
	}

}