@import "../../assets/common/common.scss";
@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.content-left {
  width: 820px;
}

.content-right {
  width: 352px;
  overflow: hidden;
}

.ranking .tit,
.hotnews .tit {
  color: #3d464d;
  margin: 0 auto 1rem;
  padding: 21px 0;
  background: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 28px;
  position: relative;
  line-height: 0.4;
}

.hotnews .con {
  clear: both;
}

.hotnews .con img {
  width: 130px;
  height: 72px;
}

.hotnews .con ol {
  width: 170px;
  height: 72px;
  position: relative;
}

.hotnews .con li {
  bottom: -4px;
  left: 0;
}

.ranking .con ul+ul {
  padding-top: 10px;
  border-top: 1px dashed #e6e8eb;
  margin-top: 5px;
}

.hotnews .con ul+ul {
  padding-top: 20px;
  border-top: 1px dashed #e6e8eb;
  margin-top: 20px;
}

.tuoniao-hot-content {
  display: inline-block;
  height: 38px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tuoniao-hot-news {
  padding: 10px 0 0 9px !important;
}

.con ul li {
  list-style: none;
}

.con ul {
  padding: 0px;
}

.con ul ol {
  padding: 0px;
}

a {
  color: #666;
  outline: none !important;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margint-20 {
  margin-top: 20px;
}

.marginb-30 {
  margin-bottom: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bgc {
  background: #fff;
  margin-top: -27px;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.infoImgBox {
  width: 258px;
  height: 129px;
  position: relative;
  .infoImg {
    width: 258px;
    height: 129px;
    display: block;
  }
}

.recommend {
  background: #FFFFFF;
  margin-top: 15px;
}
.ziyunBoxOne{
  padding-left:24px;
  padding-right:24px;
  padding-top:24px;
  padding-bottom:24px;
  border-bottom:1px solid #F0F0F0;
  .cleft{
    width:240px;
    img{
      display:block;
      width:100%;
      height:180px;
    }
  }
  .cright{
    width:510px;
    height:180px;
    .title{
      font-size:16px;
      font-family:PingFangSC-Semibold;
      color:rgba(30,37,47,1);
      line-height:22px;
      margin-bottom:12px;
      font-weight:bold;
    }
    .title1{
      font-size:14px;
      font-family:PingFangSC-Regular;
      color:rgba(30,37,47,1);
      line-height:20px;
    }
    .el-row{
      line-height:initial;
      margin-bottom:12px;
    }
    .el-button{
      margin:0;
      padding:2px 12px;
      span{
        font-size:12px;
        font-family:PingFangSC-Regular;
        color:rgba(255,255,255,1);
      }
    }
  }
  .right:hover{
    color:rgba(52,157,255,1);
    cursor:pointer;
  }
  .bottomBox{
    height:32px;
    line-height:32px;
    margin-top:20px;
    .head{
      height:32px;
      width:32px;
      border-radius:100%;
      display:inline-block;
      margin-right:12px;
    }
    span{
      font-size:12px;
      font-family:PingFangSC-Regular;
      color:rgba(180,180,180,1);
        display: inline-block;
        vertical-align: top;
    }
    .name{
      color:rgba(30,37,47,1);
      margin-right:12px;
    }
    .time{
      margin-right:32px;
    }
  }
}
.ziyunBoxTwo.ziyunBoxOne{
  .cright{
    width:100%;
  }
  .imgBox{
    width:100%;
    margin-top:12px;
    margin-bottom:-3px;
    img{
      display:block;
      height:180px;
      width:100%;
    }
  }
}
.news-list-content {
  background: #FFFFFF;
  margin-top: 15px;
}
::-webkit-scrollbar {/*隐藏滚轮*/
  display: none;
  }
  .news-flash-right {
    width: 320px;
  }
  
  @media only screen and (max-width: 798px) {
    .news-flash-right {
      width: 100%;
    }
  }
  
  .right {
    float: right;
  }
  
  .marginb-30 {
    margin-bottom: 30px;
  }
  
  .ranking .tit,
  .hotnews .tit {
    color: #3d464d;
    padding: 16px 0;
    background: #FFF;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    line-height: 0.4;
  }
  
  .ranking .con ul+ul {
    padding-top: 10px;
    border-top: 1px dashed #e6e8eb;
    margin-top: 5px;
  }
  
  .hotnews {
    clear: both;
  }
  
  .hotnews .con {
    clear: both;
  }
  
  .hotnews .con img {
    width: 120px;
    height: 72px;
  }
  
  .hotnews .con ol {
    width: 140px;
    height: 72px;
    position: relative;
  }
  
  .hotnews .con ul+ul {
    padding-top: 20px;
    border-top: 1px dashed #e6e8eb;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .news24 {
    padding-left: 24px !important;
    font-size: 16px;
    font-family: PingFangSC-Semibold;
    color: rgba(30, 37, 47, 1);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    img {
      position: relative;
      top: 2px;
    }
    span {
      left: 10px;
      position: relative;
    }
  }
  
  .con ul li {
    list-style: none;
  }
  
  .con ul {
    padding: 0px;
  }
  
  .con ul ol {
    padding: 0px;
  }
  
  .bgc {
    background: #fff;
  }
  
  .clearfix:after,
  .clearfix:before {
    content: " ";
    display: table;
  }
  
  .tuoniao-hot-news a {
    top: -1px;    
    display: inline-block;
    position: relative;
    z-index: 100;
  }
  
  .tuoniao-hot-news {
    padding: 10px 0 0 9px !important;
    .news-li {
      padding: 10px 24px 0 14px;
      .li-time {
        position: relative;
        width: 80px;
        top: 8px;
      }
      ol li img {
        height: 20px;
        width: 15px;
        position: relative;
        top: -2px;
        left: -5px;
      }
    }
  }
  
  .right {
    float: right;
  }
  
  .tuoniao-hot-content {
    display: inline-flex;
    height: 45px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    a {
      width: 150px;
      min-height: 45px;
      display: -webkit-box !important;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 16px;
      font-family: PingFang-SC-Medium;
      color: rgba(30, 37, 47, 1);
    }
  }
  
  .font12 {
    font-size: 12px;
  }
  
  .gray8 {
    color: #888;
  }
  
  .newsTraffic {
    position: relative;
    top: -8px;
  }
  
  a {
    text-decoration: none;
    color: #9B9B9B;
  }
  