.s-form-item .el-form-item__content {
  .el-form-item__error {
    top: 16px;
    left: 150px;
  }
}

.table-cell-error.s-form-item .el-form-item__content {
  .el-form-item__error {
    top: 8px;
  }
}