@import "../base/config";
// 有用
.head-popover {
  .el-popover__title {
    color: #1E252F;
    font-size: 14px;
  }
}

.download-app {
  text-align: center;
  color: #1E252F;
  font-size:12px;
  img {
    width: 120px;
    height: 120px;
  }
}