.el-table {
  color: $text;
}

.el-table th {
  background-color: $defaultTh;
  color: $text-white;
}

.el-table.font-normal th > .cell {
  font-weight: normal;
}

.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background-color: #ecf3fc;
  color: $text;
}

.el-wrap-middle {
  .el-dialog.el-dialog--small {
    width: 70%;
  }
}

.el-table--border td, .el-table--border th {
  border-right: 1px solid #dddddd;
}

.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #dddddd;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #eef1f6 !important;
  background-clip: padding-box;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #F5F5F5;
}

// 无第边框TABLE
.simple-table {
  &.el-table td, &.el-table th.is-leaf {
    background: #ffffff;
  }
  &.el-table th > .cell {
    background: #ffffff;
  }
  &.el-table td, &.el-table th.is-leaf {
    border-color: transparent;
  }
}

// 文字td 超出隐藏
.nobreak-table {
  &.el-table .cell {
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

// 排序按钮颜色
.el-table {
  .sort-caret.ascending {
    border-bottom: 5px solid #999999;
  }
  .sort-caret.descending {
    border-top: 5px solid #999999;
  }
}

// 表头背景灰色
.bg-gray-th .el-table__footer-wrapper thead div, .bg-gray-th .el-table__header-wrapper thead div {
  background-color: #f5f5f5;
  color: $text;
}

.bg-gray-th.el-table th {
  background: #f5f5f5;
}

.table-cursor {
  td {
    cursor: pointer;
  }
}

.table-color {
  .el-table_1_column_1 {
    cursor: auto;
  }
  .el-table_1_column_2 {
    background-color: #FCEBE0;
  }
  &.el-table--striped .el-table__body tr.el-table__row--striped .el-table_1_column_2 {
    background-color: #F4E3D8;
  }
  .el-table_1_column_3 {
    background-color: #FBEED9;
  }
  &.el-table--striped .el-table__body tr.el-table__row--striped .el-table_1_column_3 {
    background-color: #F3E6D1;
  }
  .el-table_1_column_4 {
    background-color: #DEECFC;
  }
  &.el-table--striped .el-table__body tr.el-table__row--striped .el-table_1_column_4 {
    background-color: #D6E4F4;
  }
  .el-table_1_column_5 {
    background-color: #DFF2D9;
  }
  &.el-table--striped .el-table__body tr.el-table__row--striped .el-table_1_column_5 {
    background-color: #D7EAD1;
  }
}

// 表头无左右边框
.el-table.th-no-border {
  th > .cell {
    font-size: 12px;
    font-weight: 500;
  }
  border-color: transparent;
  th.is-leaf {
    border-right-color: transparent;
  }
  .el-table--border td:first-child {
    border-left: transparent;
  }
  .el-table--border td:last-child, .el-table--border th:last-child {
    border-right: transparent;
  }
  .el-table__body {
    td:last-child {
      border-right: 0;
    }
  }
  &:after, &.before {
    background-color: transparent;
  }
}

.el-table {
  .cursor-pointer {
    cursor: pointer;
  }
}

.el-table .filter-label > .cell.highlight {
  color: $text;
}

.el-table-filter {
  .el-table-filter__list-item {
    &.is-active {
      color: $text;
      background-color: $border;
    }
    &:hover {
      background-color: $bg-gray-f;
    }
  }
}

.el-table .filter-label > .cell.highlight {
  color: $text;
}

.el-table__column-filter-trigger i {
  color: $text-gray;
}

.s-empty-table .el-table__empty-block {
  min-height: 260px;
}

.text-light-column {
  color: $text-dark-gray;
}

.el-table td, .el-table th {
  height: 32px;
}
