.ranking .tit,
.hotnews .tit {
  color: #3d464d;
  margin: 0 auto 1rem;
  padding: 21px 0;
  background: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 28px;
  position: relative;
  line-height: 0.4;
}

.tit {
  padding: 14px 0 14px 24px !important;
}

.marginb-30 {
  margin-bottom: 30px;
}

.con ul li {
  list-style: none;
}

.con ul {
  padding: 0px;
}

.con ul ol {
  padding: 0px;
}

.bgc {
  background: #fff;
  margin-top: -27px;
}

.line22 {
  line-height: 22px;
}

.news-flash ul {
  position: relative;
  display: block;
  max-height: 800px;
  overflow-y: scroll;
  width: 368px;
}

.news-flash ul li {
  padding: 27px 24px 16px 24px;
  position: relative;
  display: block;
  margin-left: 3px;
  border-bottom: 1px solid rgba(240,240,240,1);
}

.news-flash-right {
  width: 320px;
}

.media-introduce {
  max-height: 70px !important;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

.tuoniao-share {
  margin-left: 6%;
  position: relative;
  left: 13px;
}

.media-introduce {
  max-height: 70px !important;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

.left {
  float: left;
}

.tuoniao-share {
  margin-left: 6%;
  position: relative;
  left: 36px;
}
.flash-base {
  padding: 16px 0 24px;
}
.flash-img {
  position: relative;
  top: 3px;
}