@import "../../assets/common/common.scss";
@import "../my/shoucang/index.scss";
.el-popover.shareBox-pop{
	padding:0;
}
.shareBox-pop{
	.icon-QQ{
		color:#349dff;
		margin-right:10px;
	}
	.icon-weibo{
		color:#ff3a43;
		margin-right:10px;
	}
	.icon-wechat{
		color:#88dd4b;
		margin-right:10px;
	}
	
	.popContent{
		margin-bottom:10px;
		padding-top:15px;
		.shareb{
			padding-left:55px;
		}
		.weixinImg{
			padding-top:12px;
			border-top:1px solid silver;
			margin-bottom:10px;
			margin-top:10px;
			img{
				width:100px;
				height:100px;
				display:block;
				margin:0 auto;
			}
		}
		.mm{
			text-align:center;
		}
	}
}
.portal-container{
	width:100%;
	.icon-kuaixun-fenxiangicon{
		margin-right:6px;
	}
	.headContainer{
		width:100%;
		background-color:#5abaff;
	}
	.headBox{
		
		height:310px;
		width:1200px;
		margin:0 auto;
		position: relative;
		color:#fff;
		.guanzhu{
			margin:0 auto;
			margin-top:12px;
			display: block;
		}
		.grid-content{
			text-align:center;
		}
		.infoBox{
			padding:0 190px;
			.el-row{
				padding-top:30px;
			}
			.topTitle{
				margin-top:30px;
				font-size:16px;
			}
		}
		.shareBox{
			position:absolute;
			right:0;
			top:20px;
			text-align:center;
			
			
		}
		.portalImg{
			img{
				display:block;
				width:100px;
				height:100px;
				border:100%;
				margin:0 auto;
			}
		}
		.nameBox{
			text-align:center;
			margin-top:24px;
			margin-bottom:10px;
			.name{
				font-size:22px;
				display:inline-block;
			}
		}
		.messageBox{
			text-align:center;
			margin-bottom:10px;
		}
	}
	.icon-wenzhangxiangqing-yueduliangicon{
		font-size:12px;
		margin-right:10px;
	}
	
}