@import "../../../assets/common/common.scss";

.pcenter-container{
	.el-tabs__nav-scroll{
	  height:50px;
	  line-height:50px;
	  padding-left: 24px;
	}
	.contentBox{
		padding:60px;
		.item{
			margin-bottom:36px;
			text-align:left;
			.one{
				font-size:14px;
				font-family:PingFangSC-Regular;
				color:rgba(30,37,47,1);
				line-height:20px;
				width:70px;
				margin-right:16px;
				display:inline-block;
			}
			.two{
				font-size:14px;
				font-family:PingFangSC-Regular;
				color:rgba(102,102,102,1);
				line-height:20px;
				width:93px;
				margin-right:249px;
				display:inline-block;
			}
			.three{
				font-size:14px;
				font-family:PingFangSC-Regular;
				color:rgba(52,157,255,1);
				line-height:20px;
			}
			.three:hover{
				cursor:pointer;
			}
		}
	}
	.myInforBox{
		text-align: left;
		.el-date-editor .el-input__inner{
			height:40px;
		}
		.el-date-editor .el-input__inner,.el-button--primary,.el-textarea{
			width:320px;
		}
		.changehead{
			font-size:12px;
			font-family:PingFangSC-Regular;
			color:rgba(52,157,255,1);
			line-height:17px;
		}
		.changehead:hover{
			cursor: pointer;
		}
		.label{
			font-family:PingFangSC-Regular;
			color:rgba(30,37,47,1);
		}
		.el-form-item__content{
			font-family:PingFangSC-Regular;
			color:rgba(102,102,102,1);
		}
		.imgHead{
			width:32px;
			height:32px;
			display:inline-block;
			border-radius:100%;
			vertical-align: middle;
			margin-right:9px;
		}
	}
	.weixinCodeBox{
		
		
		text-align:center;
		.imgBox{
			width:220px;
			height:220px;
			padding:10px;
			margin:0 auto;
			border:1px solid rgba(240,240,240,1);
		}
		.weixinCode{
			width:200px;
			height:200px;
		}
		p{
			font-size:14px;
			font-family:PingFangSC-Regular;
			color:rgba(30,37,47,1);
			line-height:20px;
			margin-top:32px;
		}
	}
	.updateHeadBox{
		text-align:center;
	    padding-right: 35px;
		.bigImg{
			
			img{
				width:200px;
				height:200px;
				border-radius:100%;
				display:block;
			}
		}
		.smallImg{
			width:72px;
			height:72px;
			border-radius:100%;
			display:block;
			margin:0 auto;
			margin-top:12px;
			margin-bottom:32px;
		}
		.upBtn{
			width:106px;
			height:32px;
			line-height:32px;
			padding:0;
			i{
				color:#fff;
				margin-right:6px;
			}
		}
		.el-button--primary.is-plain{
			background-color:#fff;
			span,i{
				color:rgba(52,157,255,1);
			}
			
		}
		.el-button--primary.is-plain:hover{
			background-color:rgba(52,157,255,1);
			span,i{
				color:#fff;
			}
			
		}
		.notice{
			font-size:12px;
			font-family:PingFangSC-Regular;
			color:rgba(167,167,167,1);
			line-height:17px;
			margin-top:12px;
		    margin-bottom: -14px;
		}
	}

}